# MongoDB settings
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=oceanwatch
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
MONGODB_CONNECT_TIMEOUT_MS=5000
DBSCAN_EPS_KM=150
DBSCAN_MIN_SAMPLES=10

# API settings
PROJECT_NAME="OceanWatch API"
API_V1_STR="/api/v1"

# CORS settings
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8000"]
